.new-game {
  margin-bottom: 20px;
}

.font-color-pink {
  color: deeppink;
}
.game-area {
  width: 358px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.connect-four-table tr {
   border: 1px solid gray;
}
.connect-four-table td {
  border: 1px solid gray;
  width: 50px;
  height:50px;
}
.coin-selectors {
  margin-bottom: 10px;
}
.coin-selectors button {
  width: 47px;
  margin: 1.9px;
  height: 47px;
  border-radius: 100%;
  background-color: black;
  border: 2px solid deeppink;
  opacity: 0.2;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  outline: none;
}
.coin-selectors button:hover {
  opacity: 1;
}
.coin-selectors button.disable  {
  visibility: hidden;
}
.coin-selectors button.disable:hover {
  visibility: hidden;
}
.coin {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border:none;
}
.black .coin{
  background-color: black;
}
.pink .coin{
  background-color: deeppink;
}
.winner-announcement {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid deeppink;
}
.winner-announcement h3, .winner-announcement p, .winner-announcement button {
  text-align: center;
}
.connect-four-subtext {
  width: 358px;
  margin: 0 auto;
  margin-top: 50px;
}
.connect-four-subtext p {
  line-height:0.5em;
}
