html {
  height: 100%;
}
body {
 font-family: 'roboto', sans-serif;
 color:black;
 font-size: 18px;
 height: 100%;
}
h1 {
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
}
h2 a {
  text-decoration: underline;
  color:white;
}
h3 {
  font-size: 1.2em;
  line-height: 0.5em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.3em;
}
p {
  font-size: 1em;
}
p a{
  text-decoration: none;
  color: deeppink;
}
p a:hover{
  text-decoration: underline;
}
.clearfix {
  clear:both;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.about h1 {
  text-align: left;
  color: deeppink;
}
.about_text {
  padding-right: 40px;
  max-width: 650px;
  text-align: justify;
}
#rabea_photo {
  background-image: url("images/rabea-look.jpg");
  background-position: center;
  background-size: 270px;
  width:270px;
  height:270px;
  border-radius:100%;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid deeppink;
  -webkit-transition:0.1s;
          transition:0.1s;
}
.contact-text {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social, #projects-flex, .about_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flow: center;
  -ms-flexbox-flow: center;
  -webkit-flex-flow: center;
  flex-flow: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.portfolio {
  text-align: justify;
}
.project-item {
  width: 430px;
  background-color: #f6f6f6;
  margin: 7px;
  padding-left: 20px;
  padding-right: 20px;
}
.project-item h2 {
  text-align: center;
}
img.project-screenshot {
  max-width: 150px;
  min-width: 100px;
  border-radius: 100%;
  margin-left: 10px;
}

p.project-description {
  display:none;
}
.urls {
  text-align: center;
}

/*social media icons*/
#twitter, #instagram, #linkedin, #github, #flickr {
  background-position: center;
  background-size: 45px;
  width:45px;
  height:45px;
}
#twitter {
  background-image: url("images/social/twitter.png");
  -webkit-transition:0.3s;
          transition:0.3s;
}
#twitter:hover {
  background-image: url("images/social/twitter-pink.png");
  cursor: pointer;
}
#instagram {
  background-image: url("images/social/instagram.png");
  -webkit-transition:0.3s;
          transition:0.3s;
}
#instagram:hover {
  background-image: url("images/social/instagram-pink.png");
  cursor: pointer;
}

#linkedin {
  background-image: url("images/social/linkedin.png");
  -webkit-transition:0.3s;
          transition:0.3s;
}
#linkedin:hover {
  background-image: url("images/social/linkedin-pink.png");
  cursor: pointer;
}
#github {
  background-image: url("images/social/github.png");
  -webkit-transition:0.3s;
          transition:0.3s;
}
#github:hover {
  background-image: url("images/social/github-pink.png");
  cursor: pointer;
}
#flickr {
  background-image: url("images/social/flickr.png");
  -webkit-transition:0.3s;
          transition:0.3s;
}
#flickr:hover {
  background-image: url("images/social/flickr-pink.png");
  cursor: pointer;
}
@media screen and (min-width:601px) {
  .project-image-intro {
    height:170px;
  }
  .project-intro {
    float: right;
    max-width: 250px;
    vertical-align: middle;
    padding-left: 20px;
  }
}
@media only screen and (max-width:600px)  { 
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2.3em;
    line-height: 1.2em;
  }
  .about_text {
    padding-right: 0px;
  }
  .project-image-intro {
    height:220px;
  }
  .urls {
    display: block;
  }
  #rabea_photo {
    background-size: 200px;
    width:200px;
    height:200px;
    margin-left: none;
    margin-right: none;
  }
  img.project-screenshot {
    display:block;
    max-width: 120px;
    min-width: 100px;
    margin: 0 auto;
    margin-left: none;
  }
  .project-intro {
    clear:both;
    max-width: 350px;
    text-align: center;
  }
  .contact-text {
    width: 90%;
    text-align: left;
  }
  .contact-text h1 {
    margin-bottom: 0;
  }
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1em;
  }
  .portfolio-wrapper {
    max-width: 100%;
  }
  h1 {
    font-size: 2.0em;
    line-height: 1em;
  }
  .project-intro {
    max-width: 80%;
    margin: 0 auto;
  }
  #rabea_photo {
    background-size: 150px;
     width:150px;
     height:150px;
     margin-left: none;
     margin-right: none;
     margin-bottom: 20px;
  }
  nav a:hover {
    color:black;
    border-bottom: none;
  }
}

@media only screen and (min-width:1200px) {
  .wrapper {
    max-width: 1000px;
  }
}

