html {
  height: 100%;
}

body {
 font-family: 'roboto', sans-serif;
 color:black;
 font-size: 18px;
 height: 100%;

}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
}

h2 a {
  text-decoration: underline;
 color:white;
}


h3 {
  font-size: 1.2em;
  line-height: 0.5em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.3em;
}

p {
  font-size: 1em;
}

p a{
  text-decoration: none;
  color: deeppink;
}

p a:hover{
  text-decoration: underline;
}

.clearfix {
  clear:both;
}

#home, #about, #contact, #projects {
  min-width: 100%;
  min-height: 100%;
}

#pink_ball {
  width: 400px;
  height: 400px;
  border-radius:100%;
  background-color: deeppink;
  margin: 0 auto !important;
  vertical-align: middle;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: center;
  -webkit-box-flow: center;
  -ms-flexbox-flow: center;
  -webkit-flex-flow: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

#intro {
  color:white;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}


#about {
  position: relative;
  background-color: #f6f6f6;
}

#about_wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.about_text {
  padding-right: 40px;
  max-width: 650px;
  text-align: justify;
}

#rabea_photo {
  background-image: url("images/rabea-sq-bw.jpg");
  background-position: center;
  background-size: 270px;
  width:270px;
  height:270px;
  border-radius:100%;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid deeppink;
}

#rabea_photo:hover {
  background-image: url("images/rabea-look.jpg");
}

#contact {
  min-width: 100%;
  position: relative;
  background-color: #f6f6f6;
  min-height: 100%;
}

.intro {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social, #projects-flex, .about_content {
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -webkit-flex-wrap: wrap;

  flex-flow: center;
  -webkit-box-flow: center;
  -ms-flexbox-flow: center;
  -webkit-flex-flow: center;


  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

#portfolio-wrapper {
  text-align: justify;
  max-width: 80%;
  margin: 0 auto;

}

.project-item {
  width: 430px;
  background-color: #f6f6f6;
  margin: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-item h2 {
  text-align: center;
}


img#project-screenshot {
  max-width: 150px;
  min-width: 100px;
  border-radius: 100%;
  margin-left: 10px;
}

p.project-description {
  display:none;
}

.urls {
  text-align: center;
}

.social {
  margin-top: 20px;
}

/*social media icons*/
#twitter, #instagram, #linkedin, #github, #flickr {
  background-position: center;
  background-size: 45px;
  width:45px;
  height:45px;
}
#twitter {
  background-image: url("images/social/twitter.png");
}
#twitter:hover {
  background-image: url("images/social/twitter-pink.png");
  cursor: pointer;
}
#instagram {
  background-image: url("images/social/instagram.png");
}
#instagram:hover {
  background-image: url("images/social/instagram-pink.png");
  cursor: pointer;
}

#linkedin {
  background-image: url("images/social/linkedin.png");
}
#linkedin:hover {
  background-image: url("images/social/linkedin-pink.png");
  cursor: pointer;
}
#github {
  background-image: url("images/social/github.png");
}
#github:hover {
  background-image: url("images/social/github-pink.png");
  cursor: pointer;
}
#flickr {
  background-image: url("images/social/flickr.png");
}
#flickr:hover {
  background-image: url("images/social/flickr-pink.png");
  cursor: pointer;
}


@media screen and (min-width:601px) {

  .project-image-intro {
    height:170px;
  }

  .project-intro {
    float: right;
    max-width: 250px;
    vertical-align: middle;
    padding-left: 20px;
  }
}



@media only screen and (max-width:600px)  { 

  body {
    font-size: 16px;
  }

h1 {
  font-size: 2.3em;
  line-height: 1.2em;
}

  .project-image-intro {
    height:220px;
  }
    .urls {
      display: block;
    }

  img#project-screenshot {
    display:block;
    max-width: 120px;
    min-width: 100px;
    margin: 0 auto;
    margin-left: none;

  }

  .project-intro {
    clear:both;
    max-width: 350px;
    text-align: center;
  }
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1em;
  }

  #pink_ball {
    width: 250px;
    height: 250px;
  }

  .about_text {
    padding-right: 0px;
  }

  #portfolio-wrapper {
    max-width: 100%;
  }

  h1 {
    font-size: 2.0em;
    line-height: 1em;
  }

.project-intro {
  max-width: 80%;
  margin: 0 auto;
}

  #rabea_photo {
   display: none;
  }
  nav a:hover {
    color:black;
    border-bottom: none;
  }

}

