nav {
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  -moz-box-shadow:    0px 3px 5px 1px #ccc;
  -webkit-box-shadow: 0px 3px 5px 1px #ccc;
  box-shadow:         0px 3px 5px 1px #ccc;
  display:block;
}
nav ul {
  padding-left: 1em;
  list-style:none;
  margin-top: 0;
}
nav h3 {
  line-height: 0em;
  font-size: 1em;
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 10px;
}
nav li {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  cursor:pointer;
}
nav li:after {
  content:"|";
}
nav li:last-child:after {
  display:none;
}
nav a {
  text-decoration:none;
  color:black;
  display:inline-block;
}
nav a:hover {
  color:deeppink;
  border-bottom: 2px solid deeppink;
}
@media only screen and (max-width : 600px) {
  nav li {
    display:block;
    border-bottom: 1px solid #ccc;
  }
  nav li:after {
    display:none;
  }
  nav ul:before { 
    content:'\2630'; 
    height:60px;
    font-size:2rem;
    line-height:60px;
    cursor: pointer;
  }
  nav h3 {
    margin-left: 60px;
  }
  nav li {
    display: none;
  }
  nav a:hover {
    color:deeppink;
    border: none;
  }
}
