hr.footer {
  border: 1px solid #ccc;
}
p.footer {
  font-size: 0.8em;
}
.footer-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.contact-wrapper {
  height: 70%;
  min-height:70%;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 1em;
  margin-top: -10em;
}